# SQLite dev database files
*.sqlite
*.sqlite-journal
*.db
*.db-journal
node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.local
.env
*.env
server/.env
# Local Netlify folder
.netlify
